<div class="container">
  <div class="row">
      <h2 class="text-center" style="padding-bottom:36px;">Register or sign In</h2>
      <div class="col-md-6">
          <div class="form-horizontal">
            <form>

              <div class="form-group">
                  <div class="col-md-10">
                      <input type="text" class="form-control" id="uname" placeholder="Username">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-10">
                      <input type="text" class="form-control" id="password" placeholder="password">
                  </div>
              </div>
              <div class="checkbox">
                  <label><input type="checkbox" name="remember"> Remember me</label>
              </div>
              <button type="submit" class="btn btn-default btn-danger col-md-offset-4 ">Login</button>
              </form>
          </div>
      </div>
      <div class="vl"></div>
      <div class="col-md-6">
          <div class="form-horizontal">
            <form>

              <div class="form-group">
                  <div class="col-md-10">
                      <input type="text" class="form-control" id="uname" placeholder="Username">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-md-10">
                      <input type="email" class="form-control" id="email" placeholder="Email">
                  </div>
              </div>
              <div class="form-group">
                      <div class="col-md-10">
                          <input type="text" class="form-control" id="password" placeholder="password">
                      </div>
                  </div>
              <div class="checkbox">
                  <label><input type="checkbox" name="remember"> Remember me</label>
              </div>
              <button type="submit" class="btn btn-default btn-danger col-md-offset-4">Login</button>
              </form>
          </div>
      </div>
  </div>
  <button type="button" class="btn-btn-danger" (click)="navigate()">Next Task</button>
</div>