<div style="position: relative;left: 40%;"><label>Name:</label>
<input type="text" class="inputClass" [(ngModel)]="namebind" id ="name">
</div>
<div class="keyboard">
  
  <div class="key letter"  (click)="clickEvent($event)">
    Q
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    W
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    E
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    R
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    T
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    Y
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    U
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    I
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    O
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    P
  </div>
   
  <div class="key letter" style="width: 33px; margin: 0px 1px 0px 26px;" (click)="clickEvent($event)">
    A
  </div>
    <div class="key letter" (click)="clickEvent($event)">
    S
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    D
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    F
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    G
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    H
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    J
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    K
  </div>
   
    <div class="key letter"  (click)="clickEvent($event)">
    L
  </div>
  <div class="key letter" style="width: 31px;text-align: center;margin: 0px 8px;">
    Up
  </div> 
   
  <div class="key letter"  (click)="clickEvent($event)">
    Z
  </div>  
    <div class="key letter"  (click)="clickEvent($event)">
    X
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    C
  </div>
    <div class="key letter"  (click)="clickEvent($event)">
    V
  </div><div class="key letter"  (click)="clickEvent($event)">
    B
  </div><div class="key letter" (click)="clickEvent($event)">
    N
  </div><div class="key letter"  (click)="clickEvent($event)">
    M
  </div>
  <div class="key letter"  style="margin: 0px 10px">
    Del
  </div>
  <div class="key letter" style="width: 36px; margin: 0px 14px 4px 43px;" >
    123
  </div>
  <div class="key letter" >
    /
  </div>
  <div class="key letter" (keypress)="spaceBar()" style="width:80px;">
    spacebar
  </div>
  <div class="key letter" >
    .
  </div>
  <div class="key letter" style="width: 42px; margin: 0px 7px; text-align: center;">
    enter
  </div>
  
    
 <!-- end section-a-->
 <button type="button" class="btn-btn-danger"  style="color:black" (click)="navigate()">Next Task</button>
   
      </div><!-- end arrows -->
   
  
     